body {
  text-align: center;
  margin: 0;
  background-color: rgb(36, 36, 36);
  color: white;
}

.title {
  margin-top: 5%;
  font-size: 48px;
  color: white;
}

.title-sub {
  font-size: 24px;
  color: gray;
  margin-top: 20px;
}

.food {
  margin: 20px auto;
  width: 350px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}
.food button {
  cursor: pointer;
}

.navbar {
  background: white;
  padding: 20px;
  text-align: left;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  font-size: xx-large;
}

.food-img {
  width: 100%;
  height: auto;
}
.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}

.banner {
  margin: 20px auto;
  width: 350px;
  background: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
