body {
  text-align: center;
  margin: 0;
  background-color: rgb(36, 36, 36);
  color: white;
}

.title {
  margin-top: 5%;
  font-size: 48px;
  color: white;
}

.title-sub {
  font-size: 24px;
  color: gray;
  margin-top: 20px;
}

.food {
  margin: 20px auto;
  width: 350px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.navbar {
  background: white;
  padding: 20px;
  text-align: left;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  font-size: xx-large;
}
